<div class="card xs:col-12 md:col-10 lg:col-12 mx-auto px-3 text-center">
<h1>Worktimes</h1>
<h3>Registered worktimes list</h3>


<p-select [options]="users" [(ngModel)]="selectedUser" optionValue="id" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a User" class="w-full md:w-56">
    <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    <ng-template let-user #item>
        <div class="flex items-center gap-2">
            <div>{{ user.name }}</div>
        </div>
    </ng-template>
</p-select>
</div>